@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --color1: #19283f;
    --color2: #eff7fa;
    --color3: #ffc400;
}
.bg1{
    background-color: var(--color1);
}

.bg2{
    background-color: var(--color2);
}

.bg3{
    background-color: var(--color3);
}

.container{
    width: 100%;
    max-width: 1200px;
}

/*Header*/
.header{
    height: 500px;
    background: var(--color1);
    background-size: contain;
}
.header__inner{
    padding: 30px 0;
}
.nav{
    font-size: 15px;
}
.nav_link{
    margin-left: 40px;
    color: #02bcb7;
    text-decoration: none;
    cursor: pointer;
}
.nav_link:hover{
    color: #ffc400;
}

.header__title{
    font-size: 50px;
    font-weight: 300;
}

.header__subtitle{
    color: #a1b2b9;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 400;
}

.chd {
    display: block;
    max-width: 190px;
    height: 45px;
    margin: 0 auto;
    padding: 9px 55px;
    cursor: pointer;
    color: #fff;
 
    background-color: #ff3150;
    border-radius: 50px;
}

/*Design*/
.design{
    padding: 60px 0;
    height: 730px;
}

.design__img{
    margin-right: 30px;
}

.design__title{
    font-size: 35px;
    font-weight: 600;
    color: #1a2940;
}

.design__sybtitle{
    font-size: 15px;
    color: #a8b9c0;
    margin-bottom: 85px;
}

.design__sybtitle:after{
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    margin: 15px auto;

    background-color: #02bcb7;
}

.img__title{
    font-size: 20px;
    color: #ffc501;
}

.img__text{
    font-size: 15px;
    color: #a8b9c0;
}
.number{
    position: relative;
    left: 42%;
    top: -51%;
    z-index: 1;
}

.number2{
    position: relative;
    left: 38%;
    top: -50%;
    z-index: 1;
}

.number3{
    position: relative;
    left: 33%;
    top: -51%;
    z-index: 1;
}

/*Work*/
.work{
    height: 1060px;
    padding: 60px 0;
    background: var(--color2);
    background-size: contain;
}
.work__link{
    margin-left: 70px;
    text-decoration: none;
    color: #a8b9c0;
    transition: .1s linear;
}
.work__link:hover{
    border: 1px solid #ebebeb;
    padding: 15px 25px;
    border-radius: 50px;
    border: 0;
    background-color: #ff3150;
    color: #ffc400;
}

.img{
    padding: 150px 0;
}
.photo{
    display: flex;
    flex-wrap: wrap;
}
.photo__item{
    border: 150px solid #fff;
}
.photo__inner{
    width: 100%;
    
}
.photo-wrap{
    flex-wrap: wrap;
}
.photo-wrap__item{
    margin-right: 40px;
}

.photo-wrap__item:hover .work__img img{
    opacity: 0;
}
.work__img{
    background-color: #02bcb7;
}
.work__img img{
    transition: opacity .1s linear;
}

.photo__text{
    width: 100%;
    font-size: 20px;
    color: #fff;
    font-family: "Roboto";
    opacity: 0;

    position: relative;
    top: -50%;
    left: 0;
    z-index: 2;
}

.photo-wrap__item:hover .photo__text{
    opacity: 1;
}

.photo__subtext{
    width: 100%;
    font-size: 15px;
    color: #1a2940;
    font-family: "Roboto";
    opacity: 0;

    position: relative;
    top: -49%;
    left: 0;
    z-index: 2;
}

.photo-wrap__item:hover .photo__subtext{
    opacity: 1;
}

.chd2 {
    display: block;
    max-width: 230px;
    height: 45px;
    margin: 0 auto;
    padding: 9px 55px;
    cursor: pointer;
    color: #fff;
 
    background-color: #ff3150;
    border-radius: 50px;
}


/*Staff*/
.staff{
    height: 660px;
    padding: 60px 0;
}
.stuff__title{
    font-size: 35px;
    color: #1a2940;
}

.stuff__text{
    font-size: 15px;
    color: #a8b9c0;
}

.chd3 {
    display: block;
    max-width: 230px;
    height: 45px;
    
    padding: 9px 55px;
    cursor: pointer;
    color: #fff;
 
    background-color: #ff3150;
    border-radius: 50px;
}